# Node modules
node_modules/

# Output directory
dist/

# Local env files
# .env
# .env file included in the repository 
# intentionally for assignment purposes

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings and history
.vscode/
.history/

# OS-specific
.DS_Store
Thumbs.db
.vercel
